
/* *{  transition-duration: 0s; } */

/* left: 29px;
top: 56px;
font-size: 1.6rem; */
/* #point_backup{
  position: fixed;
  left: 29px;
  top: 56px;
  font-size: 4rem;
  color: red;
  transition-duration: 0s;
} */

.point_backup{
  pointer-events: none;
  position: fixed;
  left: 33px;
  top: 60px;
  color: #ff00007e;
}

#point_backup_nav{
  left: 5px;
  top: 10px;
}

/* #point_backup_nav{
  pointer-events: none;
  font-size: 6rem;
  left: -35px;
  top: -25px;
  transition-duration: 0s;
} */

#dropAddButton,
#dropDelButton,
#dropEditButton {
  float: right;
  background-color: var(--ion-color-primary);
  color: white;
  font-size: 22px;
  border: none;
  cursor: pointer;
  outline: none;
}


.dropdown-content {
  left: 35px;
  top: 39px;
  display: none;
  position: absolute;
  background: var(--ion-item-background);
  border-radius: 3px;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}


.dropdown-content p{
  /* color: black; */
  color: var(--ion-text-color);
  padding: 8px 0px 8px 16px;
  margin: 1px 0px 1px 0px;
  text-decoration: none;
  display: block;
}









/* @keyframes op {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100%{ opacity: 0; }
} */


@media screen and (min-width: 600px){
  #buttonAdd, #buttonHelp {
    padding-right: 20px;
  }

  #nameSetting:hover ~ #help-config,
  #buttonEdit:hover ~ #help-edit,
  #buttonDelete:hover ~ #help-delete,
  #expandCard:hover ~ #help-exp-com,
  #showCard:hover ~ #help-show,
  #buttonSearch:hover ~ #help-search,
  #buttonAdd:hover > #help-add{
    opacity: 1;
    transition: 0.6s;
  }
}

@media (pointer:none), (pointer:coarse) {
  /* @media screen and (max-width: 599px) and (orientation: portrait){ */

  #nameSetting:active ~ #help-config,
  #buttonEdit:active ~ #help-edit,
  #buttonDelete:active ~ #help-delete,
  #expandCard:active ~ #help-exp-com,
  #showCard:active ~ #help-show,
  #buttonSearch:active ~ #help-search,
  #buttonAdd:active > #help-add{ 
    opacity: 1;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(1,0,0,0);
  }
  
}


/* ********* */
.cct{ margin: auto; font-weight: bold; text-align: center; color: var(--ion-text-color); }

.cce{
  position: fixed;
  left: 0px;
  color: var(--ion-color-primary);
  padding: 1px 20px 0px 20px;
  font-size: 0.7rem;
  transition-duration: 0.2s;
  pointer-events: none;
}

.cce_st{ color: var(--ion-color-primary); font-size: 0.7rem; }

.ccse{ color: var(--ion-color-step-550); margin: 2px 0px 8px 0px; }

.div_list{
  width: 200px;
  max-height: 150px;
  overflow: auto;
  margin:10px 10px 15px 5px
}

.list_text{
  user-select: none;
  font-size: 14px;
  color: var(--ion-color-step-550);
  margin: 5px 0px 0px 5px;
  padding: 6px 5px 4px 10px;
  white-space: nowrap;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;

}

/* Track */
::-webkit-scrollbar-track {
  background: #00000000; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #bebebe; 
  border-radius: 10px;
}

.modal_input{
  /* margin-top: 20px; */
  color: var(--ion-text-color);
  padding-top: 20px;
  margin-bottom: 4px;
  background-color: #ffffff00;
  border: 0;
  border-bottom: 2px solid var(--ion-color-light);
  transition-duration: 0.2s;
}




.modal_input:placeholder-shown + .cce{
  position: fixed;
  left: 0px;
  color: var(--ion-color-step-550);
  padding: 10px 20px 0px 20px;
  font-size: 1rem;
  transition-duration: 0.2s;
}


.modal_input:focus + .cce {
  color: var(--ion-color-primary);
  padding: 1px 20px 0px 20px;
  font-size: 0.7rem;
}


p .modal_input::-webkit-input-placeholder{opacity: 0;}
p .modal_input:focus::-webkit-input-placeholder{opacity: 0.4; font-style: italic;}

.modal_input:focus {
  outline: none; border-bottom:
  2px solid var(--ion-color-primary);
  transition-duration: 0.2s;
}








.modal_btns{
  float: right;
  color: var(--ion-color-primary);
  background-color: #ff000000;
  font-size: 15px;
  border: 0px;
  /* margin: 1rem 0rem 1rem 1rem; */
  margin: 0rem 0rem 1rem 1rem;
  outline: none;
}

.bkpopup{
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: black;
  opacity: 0;
  pointer-events: none;
}

.popup_box{
  position: absolute;
  left: 50%;
  top: 30%;
  width: 250px;
  transform: translateX(-125px);
  background: var(--ion-item-background);
  padding: 12px 20px 0px 20px;
  
  border-radius: 3px;
  box-shadow: 2px 5px 20px rgba(0, 0, 0, 0.5);
  z-index: 1;
  transition-duration: 0.1s;

  /*CAMBIAR*/
  opacity: 0;
  pointer-events: none;
}


/* **** ICONS ***** */

.add{ color: #2f3136;}

.help{
  opacity: 0;
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  color: #ffffff;
  background-color: var(--ion-color-dark);
  position: absolute;
}




.help-configuracion{ left: 100%; top: 18%; opacity: 0; pointer-events: none;} 
.help-editar{ left: 100%; top: 5%; opacity: 0; pointer-events: none; }
.help-borrar{ left: 100%; top: 24%; opacity: 0; pointer-events: none; }
.help-expandir-contraer{ left: 100%; top: 43%; opacity: 0; pointer-events: none; }
.help-mostrar-ocultar{ left: 100%; top: 62%; opacity: 0; pointer-events: none;}
.help-buscar{ left: 100%; top: 81%; opacity: 0; pointer-events: none; }
.help-agregar{ right: 100%; top: 16%; opacity: 0; pointer-events: none; }

/* #nameSetting:hover ~ #help-config{ opacity: 1; }
#buttonEdit:hover ~ #help-edit{ opacity: 1; }
#buttonDelete:hover ~ #help-delete{ opacity: 1; }
#expandCard:hover ~ #help-exp-com{ opacity: 1; }
#showCard:hover ~ #help-show{ opacity: 1; }
#buttonSearch:hover ~ #help-search{ opacity: 1; }
#buttonAdd:hover > #help-add{ opacity: 1 ;} */




/* NAVBAR */

.barLogout{ transform: scaleX(-1); padding-left: 2px; }

ion-icon#barClose.md.hydrated{ margin-inline-end: 0px; }

ion-title#userName.md.title-default.hydrated{ text-align: center; }

.input-wrapper{ --padding-start: 2px; }



/* CARDS */

.card-sub-account{ margin-left: 20px; }

.hide{ display: none; }


/*ITEMS*/

.ion-text-wrap #title{ margin-right: -100px; padding: -100px; }

#eyePass{ margin-top: 18px; }

#content{ --background:var(--val); }



.bordeInf, .bordeSup{ --background: #ffffff50; }

.sc-ion-searchbar-md-h {
  color: var(--ion-text-color);
  --background: var(--ion-color-light);
  --icon-color:var(--ion-text-color);
  transition: 0.05s cubic-bezier(1, 0, 0, 1);
}

ion-icon, .item .sc-ion-label-md-h , .restoreText , #nameSettingText{ /*icon, inputbox.alert, nameSetting*/
  color:var(--ion-text-color);
}





/* ALERTS */
.alert-head.sc-ion-alert-md{ padding-top: 20px; padding-bottom: 10px; }

.alert-message.sc-ion-alert-md,
.alert-input-group.sc-ion-alert-md { padding-top: 0px; padding-bottom: 0px; }

.alert-input.sc-ion-alert-md{ color:var(--ion-text-color2); margin: 0px; }

.alert-button-group.sc-ion-alert-md{ padding-top: 5px; padding-bottom: 12px; }



/*TOGGLE*/
.label{
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px;
  height: 26px;
  width: 50px;
}

.ball{
  background-color:var(--ion-color-light);
  transform: translate(-2px);
  border-radius: 50px;
  position: absolute;
  height: 22px;
  width: 22px;
  transition: transform 0.1s linear;;
}

.checkbox { opacity: 0; position: absolute; }

.checkbox:checked + .label .ball{ transform: translate(21px); }

.checkbox + .label{ background-color:var(--ion-color-medium); margin-left: -10px; }

.fa-moon{ color: #414141; }

.fa-color{ color: #ffffff; }






/*THEMES*/
body.light {
  --val: #ffffff70;
  background: url('bg1.jpg') no-repeat 52% center/cover;
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-color-tertiary: #5260ff;
  --ion-color-success: #2dd36f;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #eb445a;
  --ion-color-dark: #222428;
  --ion-color-medium: #92949c;
  --ion-color-light: #ececec;

  --ion-color-toastC: #434446;
  --ion-text-toastC: #ffffff;

  --ion-color-light-tint: #3880ff; /*text button alert*/
  --ion-color-step-550: #949494; /*text card*/
  --ion-color-step-850: #a8a8a8; /*radio select*/

  --ion-background-color: #f4f5f8; /*FONDO 'GESTOR DE DESCARGA*/
  --ion-text-color: #505050; /*TEXTO UI (NO CARDs)*/
  --ion-border-color: #cccccc; /*LÍNEA ITEMS*/
  --ion-item-background: #f5f5f5;  /*fondo 'CARDs e ITEM*/
  --ion-toolbar-background: #f5f5f5;  /*NOMBRE*/
  
  --ion-item-background-activated: #00ffea;
  --color-toolbar-background:#00ffea;
  --color-toolbar-text: #00ffea;
}

body.dark {
  --val: #000000d5;
  background: url('bg2.jpg') no-repeat 52% center/cover;
  --ion-color-primary: #428cff;
  --ion-color-secondary: #50c8ff;
  --ion-color-tertiary: #6a64ff;
  --ion-color-success: #2fdf75;
  --ion-color-warning: #ffd534;
  --ion-color-danger: #ff4961;
  --ion-color-dark: #494949;
  --ion-color-medium: #989aa2;
  --ion-color-light: #2f3136;

  --ion-color-toastC: #434446;
  --ion-text-toastC: #ffffff;

  --ion-color-light-tint: #f9f5f5;  /*text button alert*/
  --ion-color-step-550: #f0f0f0; /*text card*/
  --ion-color-step-850: #a8a8a8; /*radio select*/

  --ion-background-color: #000000; /*FONDO 'GESTOR DE DESCARGA*/
  --ion-text-color: #ffffff; /*TEXTO UI (NO CARDs)*/
  --ion-border-color: #c0c0c0; /*LÍNEA ITEMS*/
  --ion-item-background: #1c1c1c; /*fondo 'CARDs e ITEM*/
  --ion-toolbar-background: #0d0d0d; /*NOMBRE*/

  --ion-item-background-activated: #00ffea;
  --color-toolbar-background:#00ffea;
  --color-toolbar-text: #00ffea;
}