

*{
  box-sizing: border-box;
}

/* ICONS */
.add{ color: #2f3136; }

#offline{
  transform: scale(-1.5,1.5) translate(2px, 80px);
}

@media screen and (min-width: 600px) {
  #buttonAdd, #buttonHelp, #offline {
    padding-right: 20px;
  }
}



.help{
  opacity: 0;
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  color: #ffffff;
  background-color: var(--ion-color-dark);
  position: absolute;
}

.help-configuracion{ left: 100%; top: 18%; }
.help-expandir-contraer{ left: 100%; top: 6%; }
.help-mostrar-ocultar{ left: 100%; top: 38%; }
.help-buscar{ left: 100%; top: 69%; }
.help-agregar{ right: 100%; top: 16%; }

.barLogout{
  transform: scaleX(-1);
  padding-left: 2px;
}


ion-icon#barClose.md.hydrated{
  margin-inline-end: 0px;
}

ion-title#userName.md.title-default.hydrated{
  text-align: center;
}

.input-wrapper{
  --padding-start: 2px;
}



/* CARDS */

.card-sub-account{
  margin-left: 20px;
}

#see{
  position: absolute;
  display: flexbox;
  justify-content: flex-end;
  align-self: flex-end;
  transform: translate( 0px , -15px);
  
}

ul{
  list-style-type: disc;
  padding-left: 10px;
}

li{
  padding-bottom: 10px;
}

.hide{
  display: none;
}



/*ITEMS*/

.ion-text-wrap #title{
  margin-right: -100px;
  padding: -100px;
}

#eyePass{
  margin-top: 18px;
}

#content{
  --background:var(--val);
}

.bordeSup{ /*login*/
  --background: #ffffff50;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.bordeInf{ /*login*/
  --background: #ffffff50;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.sc-ion-searchbar-md-h {
  color: var(--ion-text-color);
  --background: var(--ion-color-light);
  --icon-color:var(--ion-text-color);
  transition: 0.05s cubic-bezier(1, 0, 0, 1);
}

ion-icon, .item .sc-ion-label-md-h , .restoreText , #nameSettingText{ /*icon, inputbox.alert, nameSetting*/
  color:var(--ion-text-color);
}





/* ALERTS */
.alert-head.sc-ion-alert-md{
  padding-top: 20px;
  padding-bottom: 10px;
}

.alert-message.sc-ion-alert-md,
.alert-input-group.sc-ion-alert-md
{
  padding-top: 0px;
  padding-bottom: 0px;
}

.alert-input.sc-ion-alert-md{
  color:var(--ion-text-color2);
  margin: 0px;
}

.alert-button-group.sc-ion-alert-md{
  padding-top: 5px;
  padding-bottom: 5px;
}



/*TOGGLE*/
.label{
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px;
  height: 26px;
  width: 50px;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .label .ball{
  transform: translate(21px); 
  
}

.checkbox + .label{
  background-color:var(--ion-color-medium);
  margin-left: -10px;
}

.ball{
  background-color:var(--ion-color-light);
  transform: translate(-2px);
  border-radius: 50px;
  position: absolute;
  height: 22px;
  width: 22px;
  transition: transform 0.1s linear;;
}

.fa-moon{
  color: #414141;
}

.fa-color{
  color: #ffffff;
}

/*THEMES*/
body.light {
  --val: #ffffff70;
  background: url('bg1.jpg') no-repeat 52% center/cover;
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-color-tertiary: #5260ff;
  --ion-color-success: #2dd36f;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #eb445a;
  --ion-color-dark: #222428;
  --ion-color-medium: #92949c;
  --ion-color-light: #ececec;

  --ion-color-toastC: #434446;
  --ion-text-toastC: #ffffff;

  --ion-color-light-tint: #3880ff; /*text button alert*/
  --ion-color-step-550: #949494; /*text card*/
  --ion-color-step-850: #a8a8a8; /*radio select*/

  --ion-background-color: #f4f5f8; /*FONDO 'GESTOR DE DESCARGA*/
  --ion-text-color: #505050; /*TEXTO UI (NO CARDs)*/
  --ion-border-color: #cccccc; /*LÍNEA ITEMS*/
  --ion-item-background: #f5f5f5;  /*fondo 'CARDs e ITEM*/
  --ion-toolbar-background: #f5f5f5;  /*NOMBRE*/
  
  --ion-item-background-activated: #00ffea;
  --color-toolbar-background:#00ffea;
  --color-toolbar-text: #00ffea;
}

body.dark {
  --val: #000000d5;
  background: url('bg2.jpg') no-repeat 52% center/cover;
  --ion-color-primary: #428cff;
  --ion-color-secondary: #50c8ff;
  --ion-color-tertiary: #6a64ff;
  --ion-color-success: #2fdf75;
  --ion-color-warning: #ffd534;
  --ion-color-danger: #ff4961;
  --ion-color-dark: #494949;
  --ion-color-medium: #989aa2;
  --ion-color-light: #2f3136;

  --ion-color-toastC: #434446;
  --ion-text-toastC: #ffffff;

  --ion-color-light-tint: #f9f5f5;  /*text button alert*/
  --ion-color-step-550: #f0f0f0; /*text card*/
  --ion-color-step-850: #a8a8a8; /*radio select*/

  --ion-background-color: #000000; /*FONDO 'GESTOR DE DESCARGA*/
  --ion-text-color: #ffffff; /*TEXTO UI (NO CARDs)*/
  --ion-border-color: #c0c0c0; /*LÍNEA ITEMS*/
  --ion-item-background: #1c1c1c; /*fondo 'CARDs e ITEM*/
  --ion-toolbar-background: #0d0d0d; /*NOMBRE*/

  --ion-item-background-activated: #00ffea;
  --color-toolbar-background:#00ffea;
  --color-toolbar-text: #00ffea;
}