

/* HIDE OVERFLOW */
/* ion-content{
  left: 0px;
  width: calc(100vw + 30px);
} */

/* ion-content{
  --overflow: hidden;
} */



/* left: 29px;
top: 56px;
font-size: 1.6rem; */
/* #point_backup{
  position: fixed;
  left: 29px;
  top: 56px;
  font-size: 4rem;
  color: red;
  transition-duration: 0s;
} */

.divOverflow{
  z-index: 0;
  height: 100%;
  overflow: auto;
}

.divOverflow::-webkit-scrollbar{
  width: 0px;
}

.point_backup{
  pointer-events: none;
  position: fixed;
  left: 33px;
  top: 106px;
  color: #ff00007e;
}



/* #point_backup_nav{
  pointer-events: none;
  font-size: 6rem;
  left: -35px;
  top: -25px;
  transition-duration: 0s;
} */

#dropAddButton,
#dropDelButton,
#dropEditButton {
  float: right;
  background-color: var(--ion-color-primary);
  color: white;
  font-size: 22px;
  border: none;
  cursor: pointer;
  outline: none;
}


.dropdown-content {
  left: 35px;
  top: 39px;
  display: none;
  position: absolute;
  background: var(--ion-item-background);
  border-radius: 3px;
  width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
  z-index: 1;
}


.dropdown-content p{
  /* color: black; */
  color: var(--ion-text-color);
  padding: 8px 0px 8px 16px;
  margin: 1px 0px 1px 0px;
  text-decoration: none;
  display: block;
}


/* @keyframes op {
  0% { opacity: 0; }
  20% { opacity: 1; }
  80% { opacity: 1; }
  100%{ opacity: 0; }
} */


#buttonAdd { margin-right: -8px;}
/* CELULAR */
@media screen and (min-width: 600px){

  /* #buttonAdd, #buttonHelp {
    padding-right: 20px;
  } */

  #buttonAdd { margin-right: 10px;}

  #nameSetting:hover ~ #help-config,
  #buttonEdit:hover ~ #help-edit,
  #buttonDelete:hover ~ #help-delete,
  #expandCard:hover ~ #help-exp-com,
  #showCard:hover ~ #help-show,
  #buttonSearch:hover ~ #help-search,
  #buttonAdd:hover > #help-add{
    opacity: 1;
    transition: 0.6s;
  }
}



@media (pointer:none), (pointer:coarse) {
  
  #nameSetting:active ~ #help-config,
  #buttonEdit:active ~ #help-edit,
  #buttonDelete:active ~ #help-delete,
  #expandCard:active ~ #help-exp-com,
  #showCard:active ~ #help-show,
  #buttonSearch:active ~ #help-search,
  #buttonAdd:active > #help-add{ 
    opacity: 1;
    transition: 0.4s;
    transition-timing-function: cubic-bezier(1,0,0,0);
  }
  
}


/* ********* */

/* **** FAB ***** */

.add{ color: #2f3136;}

.help{
  opacity: 0;
  padding: 8px;
  border-radius: 8px;
  font-size: 18px;
  color: #ffffff;
  background-color: var(--ion-color-dark);
  position: absolute;
}

ion-fab ion-label{
  white-space: nowrap;
  position: absolute;
}

.help-editar{ left: 60px; top: 10px; opacity: 0; pointer-events: none; }
.help-borrar{ left: 60px; top: 59px; opacity: 0; pointer-events: none; } 
.help-configuracion{ left: 60px; top: 10px; opacity: 0; pointer-events: none;} 
.help-expandir-contraer{ left: 60px; top: 105px; opacity: 0; pointer-events: none; }
.help-mostrar-ocultar{ left: 60px; top: 155px; opacity: 0; pointer-events: none;}
.help-buscar{ left: 60px; top: 201px; opacity: 0; pointer-events: none; }
.help-agregar{ right: 60px; top: 10px; opacity: 0; pointer-events: none; }


/* CARDS */

.card-sub-account{ margin-left: 20px; }

ion-card-header{
  padding: 0px 16px 16px 16px;
  height: 48px;
  transition-duration: .5s;
  /* transition-delay: .05s; */
  /* background: var(--ion-color-primary); */
}


.ionCardHeader{
  padding: 0px 16px 16px 16px;
  height: 48px;
  transition-duration: .5s;
  /* transition-delay: .05s; */
}

.cardExpand:hover{
  height: 133px;
  transition-duration: .2s;
  transition-delay: .05s;
  overflow: auto
}

.btnExpandCard{
  height: 133px;
  transition-duration: .2s;
  overflow: auto;
}

.animCardCero{
  transition-duration: 0s;
}


ion-card-header::-webkit-scrollbar-thumb {
  background: var(--ion-color-primary);
}

.cardTitle{
  padding: 17px 0px 10px 0px;
  font-size: 1em;
  font-weight: 600;
  white-space: nowrap;
  margin: 0px 0px 0px 0px;
}


/*ITEMS*/

/* .ion-text-wrap #title{ margin-right: -100px; padding: -100px; } */

#eyePass{ margin-top: 18px; }

/* #content{ --background:var(--val); } */
/* .content {--background: #ffffff00 } */




#refresher{
  /* z-index: -1; */
  opacity: 1;
  pointer-events: none;
}

.bordeInf, .bordeSup{ --background: #ffffff50; }

.sc-ion-searchbar-md-h {
  color: var(--ion-text-color);
  --background: var(--ion-color-light);
  --icon-color:var(--ion-text-color);
  transition: 0.05s cubic-bezier(1, 0, 0, 1);
}

ion-icon, .item .sc-ion-label-md-h , .restoreText , #nameSettingText{ /*icon, inputbox.alert, nameSetting*/
  color:var(--ion-text-color);
}





/* ALERTS */
.alert-head.sc-ion-alert-md{ padding-top: 20px; padding-bottom: 10px; }

.alert-message.sc-ion-alert-md,
.alert-input-group.sc-ion-alert-md { padding-top: 0px; padding-bottom: 0px; }

.alert-input.sc-ion-alert-md{ color:var(--ion-text-color2); margin: 0px; }

.alert-button-group.sc-ion-alert-md{ padding-top: 5px; padding-bottom: 12px; }



/*TOGGLE*/
.label{
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 50px;
  padding: 5px;
  height: 26px;
  width: 50px;
}

.ball{
  background-color:var(--ion-color-light);
  transform: translate(-2px);
  border-radius: 50px;
  position: absolute;
  height: 22px;
  width: 22px;
  transition: transform 0.1s linear;;
}

.checkbox { opacity: 0; position: absolute; }

.checkbox:checked + .label .ball{ transform: translate(21px); }

.checkbox + .label{ background-color:var(--ion-color-medium); margin-left: -10px; }


.fa-moon{ color: #414141; transform: translateX(-1px);}

.fa-lightbulb{ color: #ffffff; transform: translateX(3px);}




/*THEMES*/
.light {
  --val: #ffffff70;
  /* background: url('src/img/bg1.jpg') no-repeat 52% center/cover; */
  /* background: url('https://i.blogs.es/594843/chrome/450_1000.jpg') no-repeat 52% center/cover; */
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-color-tertiary: #5260ff;
  --ion-color-success: #2dd36f;
  --ion-color-warning: #ffc409;
  --ion-color-danger: #eb445a;
  --ion-color-dark: #222428;
  --ion-color-medium: #92949c;
  --ion-color-light: #ececec;

  --ion-color-toastC: #434446;
  --ion-text-toastC: #ffffff;

  --ion-color-light-tint: #3880ff; /*text button alert*/
  --ion-color-step-550: #949494; /*text card*/
  --ion-color-step-850: #a8a8a8; /*radio select*/

  --ion-background-color: #f4f5f8; /*FONDO 'GESTOR DE DESCARGA*/
  --ion-text-color: #505050; /*TEXTO UI (NO CARDs)*/
  --ion-border-color: #cccccc; /*LÍNEA ITEMS*/
  --ion-item-background: #f5f5f5;  /*fondo 'CARDs e ITEM*/
  --ion-toolbar-background: #f5f5f5;  /*NOMBRE*/
  
  --ion-item-background-activated: #00ffea;
  --color-toolbar-background:#00ffea;
  --color-toolbar-text: #00ffea;
}


/* body.bgl{
  background: url('https://i.pinimg.com/originals/67/54/78/675478c7dcc17f90ffa729387685615a.jpg') no-repeat 52% center/cover;
  opacity: 1;
} */


.dark {
  --val: #000000d5;
  /* background: url('src/img/bg2.jpg') no-repeat 52% center/cover; */
  --ion-color-primary: #428cff;
  --ion-color-secondary: #50c8ff;
  --ion-color-tertiary: #6a64ff;
  --ion-color-success: #2fdf75;
  --ion-color-warning: #ffd534;
  --ion-color-danger: #ff4961;
  --ion-color-dark: #494949;
  --ion-color-medium: #989aa2;
  --ion-color-light: #2f3136;

  --ion-color-toastC: #434446;
  --ion-text-toastC: #ffffff;

  --ion-color-light-tint: #f9f5f5;  /*text button alert*/
  --ion-color-step-550: #f0f0f0; /*text card*/
  --ion-color-step-850: #a8a8a8; /*radio select*/

  --ion-background-color: #000000; /*FONDO 'GESTOR DE DESCARGA*/
  --ion-text-color: #ffffff; /*TEXTO UI (NO CARDs)*/
  --ion-border-color: #c0c0c0; /*LÍNEA ITEMS*/
  --ion-item-background: #1c1c1c; /*fondo 'CARDs e ITEM*/
  --ion-toolbar-background: #0d0d0d; /*NOMBRE*/

  --ion-item-background-activated: #00ffea;
  --color-toolbar-background:#00ffea;
  --color-toolbar-text: #00ffea;
}

/* body.bgd{
  background: url('https://i.pinimg.com/originals/67/54/78/675478c7dcc17f90ffa729387685615a.jpg') no-repeat 52% center/cover;
  opacity: 1;
} */


